@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&family=Yusei+Magic&display=swap');

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    font-family: 'Makuta Vaani';
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yusei Magic';
    margin: 0;
}

/** 
    Navbar
**/
nav {
    width: 100%;
    height: 75px;
    background: rgb(40,50,60);
    color: white;
    display: flex;
    align-items: center;
}
/** 
    Main
**/
main.main{
    background: rgba(210, 240, 230, 0.8);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    min-height: calc(100vh - 75px - 50px);
}
.left-half, .right-half {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    padding: 15%;
}
.left-half .title {
    margin: 2% 0;
}
.left-half h3 {
    margin: 5% 0;
}

/** 
    Footer
**/

footer  {
    height: 50px;
}




button {
    cursor: pointer;
}
button:focus {
    outline: none !important;
}